@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
:root {
  --mdc-theme-primary: #ffffff;   /* Primary color theme */
  font-family: 'Poppins', 'NanumGothic';  /* Default font family */
}

body {
  margin: 0px;
  background-repeat: no-repeat;
  background-image: url('../images/background-main.png');
  background-size: 100%;
}

#title-container {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 582px;
  padding: 0px 46px;
  background-color: #ffffff;
  border-radius: 20px 20px 0px 0px;
}

.logo {
  margin-top: 74px;
  width: 165px;
  height: 52px;
  object-fit: contain;
}

#code_creation_success_prompt {
  margin-top: 23px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1b1b1b;
}

#code_value {
  margin-top: 3px;
  height: 35px;
  font-family: NanumGothic;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1b1b1b;

}

#magic_code_area {
  margin: 38px 0 0 0;
}

#enter-magic-code{
  width: 198px;
  height: 43px;
  padding: 0 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
   border-radius: 80px;
  border: 0;
  background-color: #ffffff;
  outline: none;
  font-size: 12px;
  line-height: 1.41;
  font-family: Poppins, NanumGothic;

}

#enter-magic-code::placeholder {
  font-family: NanumGothic;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: left;
  color: #e4e4e4;
}

#login-button {
  width: 100px;
  height: 43px;
  margin: 0 0 0 10px;
  padding: 10px 27px;
  border-radius: 80px;
  border: 0px;
  outline: none;
}

#login-button:disabled {
  background: #e4e4e4;
  cursor: not-allowed;
}

.active-button {
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
}

.active-button:hover {
  cursor: pointer;

}
#login-button__label {
  line-height: 1.21;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}


#register_area {
  margin: 20px 0 0 0;
}

#prompt-text {
  margin: 0;
  padding: 0;
  height: 19px;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: left;
  color: #1b1b1b;
}

#register-text {
  margin: 0 0 0 20px;
  height: 19px;
  font-weight: bold;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 800;
  font-stretch: normal;
  text-decoration: underline;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #fca50d;
}

#register-text:hover {
  cursor: pointer;
}

#explanation-of-warning-code {
  margin-top: 12px;
  font-family: Poppins, NanumGothic;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #ac0000;
}