@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --mdc-theme-primary: #ffffff;   /* Primary color theme */
  font-family: 'Poppins';  /* Default font family */
}

body {
  margin: 0px;
  background-repeat: no-repeat;
  background-image: url('../images/background2.png');
  background-size: 100%;
}

#flex-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

#logo {
  width: 112px;
  height: 36px;
  margin: 93px auto 0px auto;
  object-fit: contain;
}

#form-container {
  margin-top: 83px;
  width: 485px;
  height: 598px;
  box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.16);
  border: solid 0.5px #9d9d9d;
  border-radius: 20px;
  background-color: #ffffff;
}

#form-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 45px;
}

.form-label {
  height: 17px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #1b1b1b;
}

.form-label-margin {
  margin-top: 23px;
}

.form-input {
  margin-top: 10px;
  height: 42px;
  padding: 20px;
  border-radius: 80px;
  border: solid 1px #7f7f7f;
  background-color: #ffffff;
  outline: none;
  font-family: Poppins;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.form-input::placeholder {
  height: 17px;
  font-family: Poppins;
  padding: 8px 0px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #e4e4e4;
}

#name-input {
  width: 190px;
}

#type-input {
  background-color: #ddd;
}

#age-input {
  width: 132px;
}

.checked-input {
  margin-top: 10px;
}

#self-intro-input {
  width: 395px;
}

#submit-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#submit-button {
  height: 46px;
  margin-top: 40px;
  padding: 14px 33px 15px 30px;
  border-radius: 80px;
  border: none;
  outline: none;
  background: linear-gradient(45deg, #2196F3 30%, #21cbf3 90%);
  box-shadow: 0 3px 5px 2px rgba(33, 203, 243, .3);
  color: white;
  font-size: 15px;
}

#submit-button:hover {
  cursor: pointer;
}