@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

:root {
  --mdc-theme-primary: #ffffff;   /* Primary color theme */
  font-family: 'NanumGothic';  /* Default font family */
}

body {
  margin: 0px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

#body-flex-container {
  display: flex;
  height: 100%;
  min-height: 100vh;
}

#content-container {
  padding: 36px 29px;
  border-top-right-radius: 80px;
  min-height: 100%;
  background-color: rgba(252, 165, 13, 0.25);
  display: flex;
  flex-direction: column;
  width: 210px;
}

.flag {
  width: 38px;
  height: auto;
  margin: 0px 20px 0px 0px;
  object-fit: contain;
}

.flag-passive {
  opacity: 0.4;
}

.flag-active {
  opacity: 1;
}

#title-container {
  margin-top: 37px;
  align-items: baseline;
  justify-content: space-between;
}

#title-info {
  font-family: NanumGothic;
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1b1b1b;
}

#close {
  width: 23px;
  height: 14px;
  font-family: NanumGothic;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  text-decoration: underline;
  color: #1b1b1b;
}

#hr_class {
  margin: 18.5px 0 0 0;
  width: 208px;
  height: 1px;
  border: 0;
  background-color: #d9dddc !important;
}

#sort-button-container {
  margin-top: 23.5px;
  display: flex;
  justify-content: flex-end;
}

#sort-button {
  width: 88.3px;
  height: 32px;
  padding: 7px 5px;
  border: solid 1px #afafaf;
  background: none;
  font-family: NanumGothic;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  border-radius: 16px;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #7f7f7f;
  outline: none;
}

#sort-button:hover {
  cursor: pointer;
}

.target_country_label {
  margin-top: 46px;
  font-family: NanumGothic;
  font-size: 17px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #1b1b1b;
}

#target_country_label1 {
  margin-top: 24px;
}

.first_country_content {
  margin-top: 15px !important;
  margin-left: 10px;
}

.margin_in_country_label {
  margin-top: 46px !important;
}

.active_content {
  font-family: NanumGothic;
  font-weight: 800 !important;
  color: #fca50d !important;
}

.country_content {
  margin-top: 13px;
  margin-left: 10px;
  font-family: NanumGothic;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #1b1b1b;
}

.country_content:hover{
  cursor: pointer;
}

#my-class-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 85px;
  margin-left: 69px;
  margin-right: 64px;
}

#my-class-title {
  font-family: NanumGothic;
  font-size: 24px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.71;
  letter-spacing: normal;
  text-align: left;
  color: #fca50d;

}


#my-class-info {
  display: flex;
  align-items: center;
  margin-top: 36px;
}

#my-class-info-contents {
  margin-left: 22px;
}

#my-class-info-container {
  display: flex;
  align-items: center;
}

.my-class-info-content {
  margin-right: 25px;
  font-family: NanumGothic;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.85;
  letter-spacing: normal;
  text-align: left;
  color: #1b1b1b;
}

#volunteer-image {
  width: 67px;
  height: 67px;
  margin-left: 17px;
}

#my-class-info-description {
  margin-top: 14px;
  font-family: NanumGothic;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1b1b1b;
}

#create-new-class-btn {
  height: 51px;
  margin-left: 50px;
  padding: 14px 20px;
  border-radius: 80px;
  background-color: #ffffff;
  font-family: NanumGothic;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.95;
  letter-spacing: normal;
  text-align: center;
  color: #fca50d;
  outline:none; 
  border: solid 1px #fca50d;
}

#create-new-class-btn:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #fca50d;

}



#my-class-hr {
  margin: 31px 0 62px 0;
  height: 4px;
  border: 0;
  background-color: #d9dddc !important;
}

#lecture-info-card-container {
  overflow-y: auto;
  display: flex; 
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 66px 0px 30px;
}

.lecture-card {
  width: 283px;
  height: 264px;
  margin: 0 35px 35px 0;
  border-radius: 20px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #f6f6f6;
}

.lecture-card:hover {
  background-color: #fee8c2 !important;
  cursor: pointer;

}

.lecture-card-container {
  padding: 27px;
}

.lecture-card-number {
  font-family: NanumGothic;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1b1b1b;
}

.lecture-card-title {
  margin-top: 15px;
  height: 23px;
  font-family: NanumGothic;
  font-size: 20px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: normal;
  text-align: left;
  color: #1b1b1b;
}

.lecture-card-description {
  width: 230px;
  height: 63px;
  margin-top: 80px;
  font-family: NanumGothic;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: -0.15px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #1b1b1b;
}

#logo {
  position: absolute;
  top: 64px;
  right: 64px;
  width: 82px;
  height: 26px;
}
