<!DOCTYPE html>

<html>
  <head>
    <title>We Act</title>
    <link rel="stylesheet" media="screen and (min-width: 500px)" href="../static/css/recipient_classes.css">
    <link rel="stylesheet" media="screen and (max-width: 499px)" href="../static/css/recipient_classes_small.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../static/js/recipient_classes.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
  </head>
  <body>
  </body>
</html>