<html>
  <head>
    <title>We Act</title>
    <link rel="stylesheet" media="screen and (min-width: 500px)" href="../static/css/register_form_volunteer.css">
    <link rel="stylesheet" media="screen and (max-width: 499px)" href="../static/css/reigster_form_volunteer_small.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap" rel="stylesheet">
    <script src="./static/js/register_form_volunteer.js"></script>

  </head>
  <body>
    <div id = "flex-container">
      <a href="/"><img id="logo" src="../static/images/logo.png"></a>
      <form id = "form-container">
        <div id = "form-contents">
          <label for="name_input" class="form-label">Name</label>
          <input id="name-input" class = "form-input" placeholder="Input your name" name="name_input"></input>

          <label for="name_input" class="form-label form-label-margin">Name</label>
          <input id="name-input" class = "form-input" placeholder="Input your name" name="name_input"></input>

          <label for="name_input" class="form-label  form-label-margin">Name</label>
          <input id="name-input" class = "form-input" placeholder="Input your name" name="name_input"></input>

          <label for="self_intro_input" class="form-label form-label-margin">Name</label>
          <input id="self-intro-input" class = "form-input"  placeholder="자기소개를 입력하세요. " name="self_intro_input"></input>
        </div>
      </form>
    </div>
  </body>
</html>