<html>
  <head>
    <title>We Act</title>
    <link rel="stylesheet" media="screen and (min-width: 500px)" href="../static/css/register_form_volunteer.css">
    <link rel="stylesheet" media="screen and (max-width: 499px)" href="../static/css/reigster_form_volunteer_small.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap" rel="stylesheet">
    <script src="./static/js/register_form_volunteer.js"></script>

  </head>
  <body>
    <div id = "flex-container">
      <a href="/"><img id="logo" src="../static/images/logo.png"></a>
      <form id = "form-container">
        <div id = "form-contents">
          <label for="name_input" class="form-label">이름</label>
          <input id="name-input" class = "form-input" placeholder="이름을 입력하세요." name="name_input">

          <label for="type-input" class="form-label form-label-margin">회원 종류</label>
          <input id="type-input" class = "form-input" placeholder="봉사자" name="type_input" value = "봉사자" disabled>

          <label for="gender_input" class="form-label form-label-margin">성별</label>
          <div class = "checked-input">
            <input type="radio" id="female" name="gender_input" value="female">
            <label for="female">여자</label>
          </div>
          <div>
            <input type="radio" id="male" name="gender_input" value="male">
            <label for="male">남자</label>
          </div>
          <label for="age_input" class="form-label  form-label-margin">나이</label>
          <input id="age-input" class = "form-input" type="number" placeholder="나이를 입력하세요." name="age_input" min="15" max="130" >

          <label for="self_intro_input" class="form-label  form-label-margin">자기소개</label>
          <input id="self-intro-input" class = "form-input" placeholder="자기소개를 입력하세요." name="self_intro_input">
          <div id="submit-button-container">
            <input type = "submit" id = "submit-button" value="완료">
          </div>
        </div>
      </form>
    </div>
  </body>
</html>