<html>
  <head>
    <title>We Act</title>
    <link rel="stylesheet" media="screen and (min-width: 500px)" href="../static/css/register_form_recipient.css">
    <link rel="stylesheet" media="screen and (max-width: 499px)" href="../static/css/reigster_form_recipient_small.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap" rel="stylesheet">
    <script src="./static/js/register_form_recipient.js"></script>

  </head>
  <body>
    <div id = "flex-container">
      <a href="/"><img id="logo" src="../static/images/logo.png"></a>
      <form id = "form-container">
        <div id = "form-contents">
          <label for="name_input" class="form-label">Name</label>
          <input id="name-input" class = "form-input" placeholder="Your name, here." name="name_input">

          <label for="type-input" class="form-label form-label-margin">Type</label>
          <input id="type-input" class = "form-input" placeholder="" name="type_input" value = "Recipient" disabled>

          <label for="gender_input" class="form-label form-label-margin">Gender</label>
          <div class = "checked-input">
            <input type="radio" id="female" name="gender_input" value="female">
            <label for="female">Female</label>
          </div>
          <div>
            <input type="radio" id="male" name="gender_input" value="male">
            <label for="male">Male</label>
          </div>
          <label for="age_input" class="form-label  form-label-margin">Age</label>
          <input id="age-input" class = "form-input" type="number" placeholder="Enter Age" name="age_input" min="15" max="130" >

          <label for="self_intro_input" class="form-label  form-label-margin">A brief self-introduction</label>
          <input id="self-intro-input" class = "form-input" placeholder="Please type in yourself introduction" name="self_intro_input">
          <div id="submit-button-container">
            <input type = "submit" id = "submit-button" value="Submit">
          </div>
        </div>
      </form>
    </div>
  </body>
</html>