<!DOCTYPE html>
<html>
  <head>
    <title>We Act</title>
    <link rel="stylesheet" media="screen and (min-width: 500px)" href="../static/css/volunteer_classes.css">
    <link rel="stylesheet" media="screen and (max-width: 499px)" href="../static/css/volunteer_classes.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../static/js/volunteer_classes.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
  </head>
  <body>
    <div id = "body-flex-container">
      <div id = "content_container">
        <div id = "flags-container"> 
          <img src = "../static/images/korea.png" class="flag">
        </div> <!-- flags-container end -->
      </div> <!-- content_container end-->
        
    </div>  
  </body>
</html>
